/* CSS Styles for the tutorial will be added here */
html,
body {
  height: 100%;
  margin: 0;
}
calcite-shell-panel{
    height: 100vh;
    background-color: none;
    min-width:10%;
}

        calcite-panel {
            border-block-start: 0;
    
        }

  #formDiv {
  height: 100%;
  width: 100%;
  display: flex; 
  flex-direction: column;
}
#formDiv iframe {
  height: 100% !important;
  width: 100% !important;
  border: none;
}